#minesweeper {
	border-color: #888;
	border-width: 1px;
	border-style: solid none none solid;
	position: relative;
	background: #eee url('../images/grid.png');
}
.square {
	width: 19px;
	height: 19px;
	line-height: 19px;
	text-align: center;
	border: 1px solid #888;
	position: absolute;
	background: #fff;
	cursor: default;
}
.mine {
	background: #a00;
}