#minesweeper {
	font-family: 'Arial', sans-serif;
}
.column {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

#minesweeper-sidebar {
	margin-left: 30px;
	width: 165px;
}

#minesweeper-grid {
	border-color: #888;
	border-width: 1px;
	border-style: solid none none solid;
	background: #eee url('../images/grid.png');
	font-size: 9pt;
	font-weight: bold;
}
.square {
	width: 19px;
	height: 19px;
	line-height: 19px;
	text-align: center;
	border: 1px solid #888;
	position: absolute;
	background: #fff;
	cursor: default;
}
.mine {
	background: #a00;
}

.statistic {
    font-size: 40px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;	
    color: #ddd;
    margin: 10px 0 0 0;
}
.statistic .figure {
	width: 70px;
	text-align: right;
	display: inline-block;
	margin: 0 8px 0 0;
	color: #444;
}
.statistic label {
	display: inline-block;
    font-size: 15px;
    line-height: 15px;
    vertical-align: top;
	margin: 0 0 0 10px;
	color: #888;
}

.button {
	display: block;
	background-color: #eee;
	text-transform: uppercase;
	padding: 12px 14px;
	border-radius: 2px;
	margin: 100px 0 0 0;
	text-decoration: none;
	font-weight: bold;
	color: #444;
}
